.CardContainer {
  padding: 1rem;
  .CardHeader {
    padding: 0;
  }
  .Address {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
  }
  .Rating {
    padding: 0.5rem 0;
    color: #faaf00 !important;
  }
}

.modal-header {
  display: block;
  font-size: 150%;
  text-align: center;
  align-items: center;
}

.modal-rate {
  display: block;
  text-align: center;
  align-items: center;
}

.modal-btn {
  display: block;
  text-align: right;
  margin-top: 5%;
  margin-right: 15%;

  &__cancel {
    background-color: darkgray;
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 40px;
    margin-right: 20px;
  }

  &__ok{
    background-color: rgb(241, 198, 5);
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 40px;
  }
}
.grid-container{
  justify-content: center;
  flex-direction: column !important;
}
.action-add{
  position: fixed;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  button{
    border-radius: 10px;
  }
  
}
.action-search{
  position:fixed;
  left: 260px;
  top: 92px;
  width: 100%;
  input{
    border-radius: 10px;
    border: 1px solid #489d7e ;
    padding-left: 40px;
    padding-right: 15px;
    outline: none;
    height: 40px;
    width: 18%;
  }
  .icon-search{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #489d7e;
  }
}
